<app-header></app-header>
<br>


 <div class="container ">
  <div class=" titulo-prin mt-5">
    <p class="prin-art">
        ÚLTIMAS
        <b> NOTICIAS</b>
    </p>
</div>
    <div class="container__line d-flex justify-content-center">

      <div class="linea-art"></div>
    </div>
    <div class="row ">
    <div class="col-12 col-md-6 col-lg-4 mt-4 article__complete mb-3"*ngFor="let articulo of listArticle ;let i=index">

    <img src= {{articulo.img}} class="img-art">
    <div class="text__article">
      <p class="titulo-art mt-3">{{articulo.title}}</p>

    <p class="preview-art mt-2">
        {{articulo.preview}}
    </p>
    </div>
    <div class="btn__container mt-4">
        <a routerLink={{articulo.ruta}} class="btn__alt">VER MÁS</a>
        <div class="btn__alt-shadow"></div>
      </div>

    </div>
   </div>
</div>
<app-tabla></app-tabla>
<app-contacto></app-contacto>

