<!-- IMAGEN PRINCIPAL -->
<div class="video__principal">
    <div class="text__video">
      <h1 class="text-white frase_principal">
        <b> 13 <br />ACCIÓN</b> <br />
        POR EL <b>CLIMA</b>
      </h1>
    </div>

    <video class="video_prc" autoplay [muted]="'muted'" loop>
      <source src="../assets/video_principal.mp4" />
    </video>
  </div>

  <!-- ORGANIZACIONES -->
  <div class="container-fluid bg-principal d-flex align-items-center justify-content-center">

    <div class="row fila">
      <img src="../assets/omm.png" alt="" class="org__img" />
      <img src="../assets/onu.png" alt="" class="org__img" />
      <img src="../assets/unep.png" alt="" class="org__img" />
      <img src="../assets/unesco.png" alt="" class="org__img" />
    </div>

  </div>

  <!-- SOBRE NOSOTROS -->

  <div class="container mt-5 mb-4 container__sp">

    <div class="row d-flex justify-content-center row_sp">

      <div class="col-12 col-sm-6 d-flex justify-content-center img__container">
        <img src="../assets/salvar_planeta.png" class="img__sp" alt="">
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center content__text">
        <div class="sp__description">
          <h1 class="title">
            <b>SALVAR</b> AL <b>PLANETA</b>
          </h1>
          <div class="line__light"></div>
          <p class="text_sp">
            Acción por el clima es una iniciativa
            enfocada a invertir en alternativas que
            reduzcan la  emisión de carbono y la
            adaptación ante el cambio climático.
            Este objetivo pretende tomar medidas
            que frenen .el cambio climático por los
            efectos que ello tiene para la población
            mundial.
          </p>


          <div class="btn__container mt-4">
            <a routerLink="/galeria" class="btn__alt">IR A GALERÍA</a>
            <div class="btn__alt-shadow"></div>
          </div>
        </div>

      </div>

    </div>

  </div>
