<footer>
  <div class="izquierda">
      <div class="contenido">
          <img src="../../assets/onuLogo.png" height="100px">
          <p class="titulo">13 ACCIÓN POR EL CLIMA </p>
          <p class="tel">Teléfono: +1 (917) 367-9858</p>
          <p class="cor">ethicoffice@un.org</p>
          <div class="iconos">
              <a href="https://www.instagram.com/accion_por_el_clima/?hl=es"><i class="ri-instagram-fill"></i></a>
              <a href="https://web.facebook.com/Acci%C3%B3n-por-el-clima-109578757865589"> <i class="ri-facebook-box-fill"></i></a>
              <a href="https://twitter.com/AccionClima?t=zhwG3Qz8591EPkdlEFBQwQ&s=08"><i class="ri-twitter-fill"></i></a>
          </div>
      </div>
  </div>
  <div class="derecha">
      <div class="cont">
          <p class="copy"><strong>©</strong> Copyright 2021 BILINE</p>
          <br>
          <p>All rights reserved. Website by <strong>BiLine</strong></p>
      </div>
  </div>
</footer>
