<!--==================== HEADER ====================-->
<header class="headerBL" id="headerBL">
  <nav class="navBL containerBL">
      <a href="#" class="nav__logo">
          <img src="../../assets/logo_bl.svg" width="40px"  alt="logo">
          <span class="logo__name">ODC 13</span>
      </a>

      <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
              <li class="nav__item">
                  <a href="#" class="nav__link">Inicio</a>
              </li>
              <li class="nav__item">
                  <a  routerLink="/galeria"class="nav__link">Galería</a>
              </li>
              <li class="nav__item">
                  <a routerLink="/articulos" class="nav__link">Noticias</a>
              </li>
              <li class="nav__item">
                  <a routerLink="/miembros" class="nav__link">Miembros</a>
              </li>
              <li class="nav__item">
                <a routerLink="/contacto" class="nav__link">Contacto</a>
            </li>
          </ul>

          <div class="nav__close" id="nav-close">
              <i class='bx bx-x'></i>
          </div>
      </div>


      <div class="nav__btns">


          <div class="nav__toggle" id="nav-toggle">
            <img src="../../assets/menu.svg" alt="">
          </div>


      </div>

  </nav>
</header>

